﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ShowDataTasks.aspx.cs" Inherits="DataTaskWeb.ShowDataTasks" EnableViewState="false" %>
<form id="Form1" name="frmDash" runat="server">
  <div id="tasks" runat="server">
  </div>
</form>
